{% extends "default.html" %}

{% block content %}
  <h1>Статьи</h1>

  <!-- Кнопка для добавления статьи -->
  <div style="margin-bottom: 20px;">
    <a href="{% url 'article_create' %}">
      <button type="button">Добавить статью</button>
    </a>
  </div>

  <!-- Отображение списка статей -->
  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <a href="{% url 'article_detail' post.pk %}"><strong>{{ post.title }}</strong></a>
          by {{ post.author.user.username }} ({{ post.date_created|date:"Y-m-d" }})
        </li>
      {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number|add:'-2' <= num <= page_obj.number|add:'2' %}
          {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
          {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
      {% endif %}
    </div>
  {% else %}
    <p>Статей нет.</p>
  {% endif %}
{% endblock %}
