{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>News Site</h1>
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">Новости</a></li>
                <li><a href="{% url 'search' %}">Поиск</a></li> <!-- Кнопка для поиска -->
            </ul>

            <!-- Проверка на аутентификацию -->
            <div>
                {% if user.is_authenticated %}
                    <p>Привет, {{ user.username }}!</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 News Portal</p>
    </footer>
</body>
</html>
