{% extends "default.html" %}
{% load censor %}
{% block content %}
    <h1>Новости</h1>

    <!-- Выводим количество новостей -->
    <p>Все новости: {{ posts|length }}</p>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <!-- Заголовок новости -->
                    <h2><a href="{% url 'news_detail' post.pk %}">{{ post.title|censor }}</a></h2>

                    <!-- Дата публикации в формате день.месяц.год -->
                    <p>Опубликовано: {{ post.date_created|date:"d.m.Y" }}</p>

                    <!-- Первые 20 слов текста статьи -->
                    <p>{{ post.text|truncatewords:20|censor }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Новостей нет.</p>
    {% endif %}
{% endblock %}
