{% extends "default.html" %}
{% load censor %}
{% block content %}
{% load cache %}
{% cache 300 post_header post.pk %}
  <h1>{{ post.title|censor }}</h1>
  <p>Тип поста: {{ post.get_post_type_display }}</p>
  <p>Автор: {{ post.author.user.username }}</p>
  <p>Дата публикации: {{ post.date_created|date:"d.m.Y" }}</p>
{% endcache %}

  <p>Категории:</p>
  <div class="categories-container">
      {% cache 300 categories post.pk %}
        {% for category in post.categories.all %}
        <div class="category-block">
            <span class="category-name">{{ category.name }}</span>

            {% if user.is_authenticated %}
                {% if user in category.subscribers.all %}
                    <!-- Кнопка для отписки -->
                    <form action="{% url 'unsubscribe_from_category' category.id post.pk %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="unsubscribe-button">Отписаться</button>
                    </form>
                {% else %}
                    <!-- Кнопка для подписки -->
                      <form action="{% url 'subscribe_to_category' category.id post.pk %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="subscribe-button">Подписаться</button>
                      </form>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
      {% endcache %}
</div>


  {% cache 300 post_content post.pk %}
  <p>{{ post.text|censor }}</p>
  {% endcache %}

  <!-- Кнопки для редактирования и удаления -->
  <div style="margin-top: 20px;">
    {% if post.post_type == 'NW' %}
      <a href="{% url 'news_edit' post.pk %}">
        <button type="button">Редактировать новость</button>
      </a>
    {% elif post.post_type == 'AR' %}
      <a href="{% url 'article_edit' post.pk %}">
        <button type="button">Редактировать статью</button>
      </a>
    {% endif %}

    {% if post.post_type == 'NW' %}
      <a href="{% url 'news_delete' post.pk %}">
        <button type="button" style="background-color: red; color: white;">Удалить новость</button>
      </a>
    {% elif post.post_type == 'AR' %}
      <a href="{% url 'article_delete' post.pk %}">
        <button type="button" style="background-color: red; color: white;">Удалить статью</button>
      </a>
    {% endif %}
  </div>
{% endblock %}
